apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: observabilidade
  source:
    repoURL: git@github.com:lotechdevops/apps-argocd.git
    targetRevision: main
    path: apps/observabilidade/prometheus
    helm:
      releaseName: prometheus
      valueFiles:
        - values.yaml
      skipCrds: false  
  destination:
    server: https://kubernetes.default.svc
    namespace: observabilidade  
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    retry:
      limit: 10
      backoff:
        duration: 15s
        factor: 2
        maxDuration: 5m
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ServerSideApply=true
      - Force=true